.scrollit {
    min-height: 99vh;
    max-height: 99vh;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.scrollit-nav {
    min-height: 50vh;
    max-height: 50vh;
    overflow-y: scroll;
}

table {
    table-layout: fixed;
}