#BookTripBlock {
    background-color: #efefef;
    border: 2px #efefef solid;
    /* border-radius: 10%; */
}

.Bookcard {
    width: 18rem;
}

.Button-box {
    border: 2px solid black;
    border-radius: 10px;
    height: 50%
}

.trip-table {
    height: 600px;

}